* {
	border: 1px solid blue;
}

body{
	background=color"#ff00ff; 
	font-family:Arial, sans-serif;
}

.profile-pic {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #007bff;
	display: block;
	margin: 0 auto;
}

header{
	background-color:lightblue;
	color:white;
	padding:10px;
	text-align:center;
}

nav a{
	color:gold;
	text-decoration-line: underline;
	margin:0 10px;
}
	
h1 {
	color: blue;
	font-weight: bold;
}

h2 {
	color: green;
	font-weight: bold;
}

h3 {
	color: purple;
	font-weight: bold;
}

h4 {
	color: blue;
	font-weight: bold;
}

.headline {
	color: green;
}	
footer{
	font-size:1.5cm;
	text-align:center;
	padding:15px;
}

