body{
	background=color"#ff00ff; 
	font-family:Arial, sans-serif;
}

header{
	background-color: #333;
	color: white;
	padding: 10px;
	text-align: center;
}

nav a {
	color: #ffee00;
	text-decoration-line: none;
	margin: 0 10px;
}

nav a:hover {
	text-decoration: underline;
}
	
h1 {
	color: blue;

.headline {
	color: green;
}	
footer {
	font-size: 0.8cm;
	text-align: center;
	padding: 10px;
	color: #555;
}
